.carousel-container img {
  height: 85vh;
}
.carousel-caption {
  top: 50%;
}
.input-group {
  width: 30%;
}
.booking {
  background-color: beige;
}
.input-label {
  background-color: #6dc82b;
  color: white;
}

@media only screen and (max-width: 600px) {
  .carousel-container img {
    height: 60vh;
  }
}
